# Indicadores diarios
##### Web Scraping para extraer indicadores diarios actualizados

In [75]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# url = "https://si3.bcentral.cl/indicadoressiete/secure/indicadoresdiarios.aspx"
url = 'https://si3.bcentral.cl/indicadoressiete/secure/Serie.aspx?gcode=PRE_TCO&param=RABmAFYAWQB3AGYAaQBuAEkALQAzADUAbgBNAGgAaAAkADUAVwBQAC4AbQBYADAARwBOAGUAYwBjACMAQQBaAHAARgBhAGcAUABTAGUAdwA1ADQAMQA0AE0AawBLAF8AdQBDACQASABzAG0AXwA2AHQAawBvAFcAZwBKAEwAegBzAF8AbgBMAHIAYgBDAC4ARQA3AFUAVwB4AFIAWQBhAEEAOABkAHkAZwAxAEEARAA='

response = requests.get(url)

soup = BeautifulSoup(response.content, "html.parser")

# Encuentra la tabla por su clase
tabla_element = soup.find("table", class_="table")

# Inicializa listas para las filas y columnas
filas = []
columnas = []

# Itera sobre las filas de la tabla
for fila in tabla_element.find_all("tr"):
    # Inicializa una lista para las celdas de la fila actual
    celdas = []
    # Itera sobre las celdas de la fila
    for celda in fila.find_all(["th", "td"]):
        celdas.append(celda.text.strip())
    # Agrega la lista de celdas a la lista de filas
    filas.append(celdas)

# Convierte la lista de filas en un DataFrame de Pandas
df = pd.DataFrame(filas)

In [76]:
df = df.iloc[1:, :]# Elimina la primera fila
df.dropna(axis=1, how='all', inplace=True)# Elimina columnas con todos los valores nulos
df.columns = df.iloc[0]
df = df[1:]
df = df.rename(columns={"DÃ­a": "dia"})# Supongamos que tu DataFrame se llama df
# df = df.set_index("dia")
df.reset_index(drop=True, inplace=True)

In [77]:
df

1,dia,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,1,,"804,28","829,97",,,"811,61",,"840,69","853,86",,,
1,2,,"791,80","815,24",,"803,30","804,60",,"843,02",,,,
2,3,"855,86","781,49","814,56","790,41","808,75",,"801,66","847,77",,,,
3,4,"852,14",,,"801,28","806,03",,"799,29","853,99","850,57",,,
4,5,"855,10",,,"810,64","800,54","797,97","796,47",,"854,99",,,
5,6,"856,31","788,88","808,91","810,22",,"797,74","797,87",,"869,67",,,
6,7,,"804,79","803,00",,,"797,79","804,49","848,50","872,92",,,
7,8,,"799,46","798,18",,"795,46","793,47",,"856,10","879,77",,,
8,9,"846,38","793,19","802,88",,"793,43","790,75",,"863,22",,,,
9,10,"837,19","796,27","800,88","814,64","792,46",,"806,52","858,68",,,,
10,11,"833,73",,,"821,49","788,15",,"811,98","851,70","892,68",,,
11,12,"825,67",,,"811,75","796,38","787,20","816,78",,,,,
12,13,"822,32","800,78","797,19","802,89",,"806,84","811,24",,,,,
13,14,,"793,79","803,14","795,81",,"804,38","808,61","853,30",,,,
14,15,,"789,49","800,71",,"787,00","800,12",,,,,,
15,16,"824,33","792,62","817,42",,"783,35","796,97",,"859,03",,,,
16,17,"821,59","794,35","824,65","797,28","794,44",,"813,44","859,87",,,,
17,18,"820,89",,,"801,26","797,24",,"820,76","864,72",,,,
18,19,"812,45",,,"795,23","796,04","793,35","815,58",,,,,
19,20,"828,74","792,25","830,65","796,93",,"795,63","811,43",,,,,
20,21,,"791,70","826,35","791,64",,,"807,62","867,95",,,,
21,22,,"797,75","821,55",,"797,00","801,90",,"869,51",,,,
22,23,"821,02","799,42","818,76",,"800,24","805,02",,"866,97",,,,
23,24,"814,11","802,93","805,23","795,96","801,71",,"821,95","860,97",,,,
24,25,"805,45",,,"814,75","809,03",,"827,10","854,77",,,,
25,26,"803,68",,,"813,90","809,24",,"828,90",,,,,
26,27,"802,58","818,67","811,48","805,21",,"808,21","825,80",,,,,
27,28,,"831,24","806,58","801,61",,"800,33","826,01","843,08",,,,
28,29,,,"799,76",,"804,11","800,89",,"848,86",,,,
29,30,"803,14",,"792,18",,"802,14","802,68",,"857,59",,,,
30,31,"810,37",,"789,32",,"803,94",,"827,84","854,22",,,,