In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('./games.csv', error_bad_lines=False)

C:\Users\ivana\AppData\Local\Temp\ipykernel_31196\4023262595.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('./games.csv', error_bad_lines=False)
b'Skipping line 5969: expected 14 fields, saw 15\nSkipping line 8661: expected 14 fields, saw 15\n'

In [4]:
df.info()
# null data in price_original and price_discounted

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13469 entries, 0 to 13468
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   app_id            13469 non-null  int64
 1   title             13469 non-null  object
 2   date_release      13469 non-null  object
 3   win               13469 non-null  bool
 4   mac               13469 non-null  bool
 5   linux             13469 non-null  bool
 6   rating            13469 non-null  object
 7   positive_ratio    13469 non-null  int64
 8   user_reviews      13469 non-null  int64
 9   price_final       13469 non-null  float64
 10  price_original    13443 non-null  float64
 11  price_discounted  13443 non-null  float64
 12  discount          13469 non-null  float64
 13  steam_deck        13469 non-null  bool
dtypes: bool(4), float64(4), int64(3), object(3)
memory usage: 1.1+ MB

#### Review of relation between price and positive ratio

In [5]:
corr = df['positive_ratio'].corr(df['price_original'])
print(corr)

# CORRELATION 
corr_matrix_2=round(df.corr(),2)
corr_matrix_2.style.background_gradient()

#No relation between these two fields

-0.1769936088908534

c:\ProgramData\Anaconda3\lib\site-packages\pandas\io\formats\style.py:3555: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
c:\ProgramData\Anaconda3\lib\site-packages\pandas\io\formats\style.py:3556: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

In [6]:
df.describe()

,app_id,positive_ratio,user_reviews,price_final,price_original,price_discounted,discount
count,1.346900e+04,13469.000000,1.346900e+04,13469.000000,13443.000000,13443.000000,13469.000000
mean,9.756635e+05,83.520974,2.979550e+03,8.486990,9.188369,8.492626,8.293043
std,5.608340e+05,12.831449,7.037265e+04,9.346087,9.713703,9.348321,22.459214
min,4.400000e+02,24.000000,1.000000e+01,0.000000,0.000000,0.000000,0.000000
25%,4.894600e+05,77.000000,2.000000e+01,2.490000,2.990000,2.490000,0.000000
50%,9.104500e+05,86.000000,4.700000e+01,5.990000,6.990000,5.990000,0.000000
75%,1.419290e+06,93.000000,1.460000e+02,9.990000,11.990000,9.990000,0.000000
max,2.266310e+06,100.000000,6.870243e+06,149.990000,199.990000,149.990000,90.000000

In [12]:
texto: int = "prueba string"

In [13]:
print(texto)
print(type(texto))

prueba string
<class 'str'>